venv
venv_skrmt
.ipynb_checkpoints
*.DS_Store
__pycache__/
*.png

# pytest & pytest-cov
*.pytest_cache
.coverage
htmlcov

# sphinx
_build
auto_examples
auto_tutorial

# my files
my_tests*
imgs/slides

# dist
dist
scikit_rmt.egg-info
