include README.md
include MANIFEST.in
include LICENSE
include Makefile
include *.yml
include *.rst
include conf.py
include requirements.txt
include .coveragerc
recursive-include docs *
recursive-include examples *
recursive-include tutorial *
ecursive-include imgs *

recursive-exclude notebooks *
recursive-exclude htmlcov *