include README.md
include MANIFEST.in
include LICENSE
include CITATION.cff
include Makefile
include *.yml
include *.rst
include conf.py
include requirements*.txt
include .coveragerc
include pyproject.toml
recursive-include docs *
recursive-include examples *
recursive-include tutorial *
recursive-include imgs *
recursive-include tests *.py

recursive-exclude simulations *
recursive-exclude htmlcov *
global-exclude __pycache__ *.py[cod]